.detailGrid {
    width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 50px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.imgDiv{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 200px;
}
.img {
    max-width: 20rem;
    max-height: 20rem;
    margin: 0 auto;
}
form input {
    text-align: center;
}
.cartFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    border: 3px black solid;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}
.cartForm {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}
.cross {
    width: 25px;
    height: 25px;
}
.cross:hover {
    cursor: pointer;
}

.cart:hover{
    cursor: pointer;
}
.qtyField {
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
}